<nav
  class="fixed rounded-full bg-[#f8f7ff] top-4 left-0 right-0 z-50 mt-2 py-3 mx-16"
>
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <a
      href="#"
      class="text-2xl font-bold text-black pl-8"
      style="font-family: 'Caveat', cursive"
      onclick="showPage('home'); return false;"
      >Gajendra</a
    >
    <div class="bg-[#EDEBF5] py-4 px-1 rounded-full">
      <ul class="flex gap-2 list-none">
        <li>
          <a
            href="#"
            class="nav-link text-gray-600 hover:bg-white hover:text-black py-4 px-6 rounded-full text-sm font-medium uppercase tracking-wider transition-colors"
            onclick="showPage('home'); return false;"
            >HOME</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link text-gray-600 hover:bg-white hover:text-black py-4 px-6 rounded-full text-sm font-medium uppercase tracking-wider transition-colors"
            onclick="showPage('about'); return false;"
            >ABOUT</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link text-gray-600 hover:bg-white hover:text-black py-4 px-6 rounded-full text-sm font-medium uppercase tracking-wider transition-colors"
            onclick="showPage('contact'); return false;"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="flex gap-2 list-none pr-8">
        <li>
          <a
            href="assets\Gajendra_resume.pdf"
            target="_blank"
            class="resume-link text-white bg-black py-4 px-6 rounded-full text-sm font-medium uppercase tracking-wider"
          >
            RESUME
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
